<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>lets</title>
<style type="text/css">
table th {background-color : #ccffcc}
table#outer {border :3px solid}
</style>
<script type="text/javascript" src="/lets/resources/js/jquery-3.5.1.min.js"> </script>
<script>
	function validate(){
		// 유효성 검사 코드
			//목적 : server controller 로 전송할 값들이 요구한 조건을 모두 만족하였는지 검사
		
		// 암호와 암호확인이 일치하는지 확인함
		var pwdValue = document.getElementById("userpwd").value;
		var pwdValue2 = document.getElementById("userpwd2").value;
		if(pwdValue != pwdValue2){
			alert("암호화 암호확인의 값이 일치하지 않습니다.");
			document.getElementById("userpwd").select(); // 암호칸 내용 지워주기
			return false; //다르면 false. 전송취소
		}
		return true; // 전송함. 
	}
	
	//아이디 중복 체크 처리를 위한 ajax 실행 처리용 함수
	function dupIdCheck(){
		$.ajax({
			url: "/lets/idchk", //모든 실행은 context 서블릿 url mapping할때 틀리지 않게 조심
			type: "post",
			data: {userid: $("#userid").val()},//사용자가 입력한 아이디를 보낸다 전송이름:전송값 // name은 전송이름 id는 여기저기 보려는거 userid란 이름으로 보낸다?  #id에지정한그건가
			success: function(data){
				console.log("success :" + data); //ok가 아닌 다른값오면 안돼라고 처리해야지
				if(data == "ok"){ //자바스크립트는 equal대신 걍 == 써도 된다 
 					/*window.*/
 					alert("사용 가능한 아이디입니다.");
					$("#userpwd").focus(); //$("#id이름").이벤트();
				}else{
					alert("이미 사용중인 아이디입니다.\n다시 입력해주세요"); //줄바꿈br 못쓴다 \n으로 씀
					$("#userid").select();
				}
				
			}, //success callback
			error: function(jqXHR, textstatus, errorThrown){
				console.log("error : " + jqXHR + ", " + textstatus + ", " + errorThrown);
			} //error 
		});
		return false; //클릭이벤트가 전달 되어서 submit이 동작되지 않게 함, 이벤트 제거 
	} //function dupIdCheck
</script>
</head>
<body>
<center>
<h1 align="center">회원 가입 페이지</h1>
<br>
<form method="post" action="/lets/minsert" onsubmit="return validate();">
<table id="outer" align="center" width="500px" cellspacing="5" cellpadding="0">
<tr>
	<th colspan="2">회원 정보를 입력해 주세요. (* 표시는 필수입력항목입니다.)</th>
</tr>
<tr>
	<th width="120">*이 름</th>
	<td><input type="text" name="username" required></td>
</tr>
<tr>
	<th>*아이디</th>
	<td><input type="text" name="userid" id="userid" required>&nbsp;&nbsp;
	<input type="button" value="중복체크" onclick="return dupIdCheck();"></td>
</tr>
<tr>
	<th>*암 호</th>
	<td><input type="password" name="userpwd" id="userpwd" required></td>
</tr>
<tr>
	<th>*암호확인</th>
	<td><input type="password" id="userpwd2" required></td>
</tr>
<tr>
	<th>*성 별</th>
	<td><input type="radio" name="gender" value="M" checked>남자 &nbsp;&nbsp;&nbsp;&nbsp; 
	    <input type="radio" name="gender" value="F" >여자</td>
</tr>
<tr>
	<th>*나 이</th>
	<td><input type="number" name="age" min="19" max="200" value="20"></td>
</tr>
<tr>
	<th>*전화번호</th>
	<td><input type="tel" name="phone" required></td>
</tr>
<tr>
	<th>*이메일</th>
	<td><input type="email" name="email" required></td>
</tr>
<tr>
	<th>취 미</th>
	<td>
		<table width="350">
		<tr>
			<td><input type="checkbox" name="hobby" value="game"> 게 &nbsp;임</td>
			<td><input type="checkbox" name="hobby" value="reading"> 독 &nbsp;서</td>
			<td><input type="checkbox" name="hobby" value="climb"> 등 &nbsp;산</td>
		</tr>
		<tr>
			<td><input type="checkbox" name="hobby" value="sport"> 운 &nbsp;동</td>
			<td><input type="checkbox" name="hobby" value="music"> 음악감상</td>
			<td><input type="checkbox" name="hobby" value="movie"> 영화보기</td>
		</tr>
		<tr>
			<td><input type="checkbox" name="hobby" value="travel"> 여 &nbsp;행</td>
			<td><input type="checkbox" name="hobby" value="cook"> 요 &nbsp;리</td>
			<td><input type="checkbox" name="hobby" value="etc" checked> 기 &nbsp;타</td>
		</tr>
		</table>
	</td>
</tr>
<tr>
	<th>하고싶은 말</th>
	<td><textarea name="etc" rows="5" cols="50"></textarea></td>
</tr>
<tr>
	<th colspan="2">
		<input type="submit" value="가입하기"> &nbsp; 
		<input type="reset" value="작성취소"> &nbsp;
		<a href="/lets/index.jsp">시작 페이지로</a>
	</th>
</tr>
</table>
</form>
</center>
</body>
</html>