<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="redMapper">

	<resultMap id="resultProject" type="com.beet.HWABO.red.model.vo.UserProject">
		<id property="project_num" column="project_num" />
		<result property="ucode" column="ucode" />
		<result property="star" column="star" />
		<result property="name" column="name" />
		<result property="explain" column="explain" />
		<result property="startday" column="startday" />
		<result property="endday" column="endday" />		
		<result property="uploaddate" column="uploaddate" />
		<result property="open" column="open" />
		<result property="goal" column="goal" />
		<result property="done" column="done" />
		<result property="right" column="right" />
		<result property="order_by" column="order_by" />
	</resultMap>
	<resultMap id="resultList" type="com.beet.HWABO.red.model.vo.UserProject">
		<result property="ucode" column="ucode" />
		<result property="star" column="star" />
		<result property="project_num" column="project_num" />
		<result property="name" column="name" />
		<result property="explain" column="explain" />
		<result property="startday" column="startday" />
		<result property="endday" column="endday" />		
		<result property="uploaddate" column="uploaddate" />
		<result property="open" column="open" />
		<result property="goal" column="goal" />
		<result property="done" column="done" />
		<result property="right" column="right" />
		<result property="order_by" column="order_by" />
	</resultMap>
	<resultMap id="resultProgressList" type="com.beet.HWABO.red.model.vo.Progress">
		<result property="ucode" column="ucode" />
		<result property="project_num" column="project_num" />
		<result property="name" column="name" />
		<result property="goal" column="goal" />
		<result property="done" column="done" />
		<result property="title" column="title" />
		<result property="content" column="content" />
	</resultMap>
	<resultMap id="resultProgress" type="com.beet.HWABO.red.model.vo.Progress">
		<id property="ucode" column="ucode" />
		<result property="project_num" column="project_num" />
		<result property="name" column="name" />
		<result property="goal" column="goal" />
		<result property="done" column="done" />
		<result property="title" column="title" />
		<result property="content" column="content" />
	</resultMap>
	<resultMap id="resultBpost" type="Bpost">
		<id property="project_num" column="bno" />
		<result property="name" column="btitle" />
		<result property="goal" column="bucode" />
		<result property="done" column="bwriter" />
		<result property="title" column="bstartday" />
		<result property="content" column="bendday" />
		<result property="content" column="bkind" />
		<result property="content" column="bcharge" />
		<result property="content" column="bcontent" />
		<result property="content" column="benrolldate" />
		<result property="content" column="bopen" />
		<result property="content" column="brenamefile" />
		<result property="content" column="boriginfile" />
		<result property="bpnum" column="bpnum" />
	</resultMap>
	<resultMap id="resultBpostList" type="Bpost">
		<result property="project_num" column="bno" />
		<result property="name" column="btitle" />
		<result property="goal" column="bucode" />
		<result property="done" column="bwriter" />
		<result property="title" column="bstartday" />
		<result property="content" column="bendday" />
		<result property="content" column="bkind" />
		<result property="content" column="bcharge" />
		<result property="content" column="bcontent" />
		<result property="content" column="benrolldate" />
		<result property="content" column="bopen" />
		<result property="content" column="brenamefile" />
		<result property="content" column="boriginfile" />
		<result property="bpnum" column="bpnum" />
	</resultMap>

<select id="selectProgressList" parameterType="string" resultMap="resultProgressList">
		select * from progress where project_num = #{ project_num }  ORDER BY title
</select>

<select id="selectProgress" parameterType="string" resultMap="resultProgress">
		select * from progress where project_num = #{ project_num } and ucode = #{ ucode } ORDER BY title
</select>

<select id="selectBpostList" parameterType="string" resultMap="resultBpostList">
		select * from Bpost where project_num = #{ project_num }  ORDER BY title
</select>

<select id="selectBpost" parameterType="string" resultMap="resultBpost">
		select * from Bpost where project_num = #{ project_num } and ucode = #{ ucode }  ORDER BY title
</select>

<select id="selectList" parameterType="string" resultMap="resultList">
		select * from project join pjmember on (project.project_num = pjmember.pnum) where ucode = #{ ucode }  ORDER BY TO_NUMBER(order_by)
</select>

<select id="selectStar" parameterType="string" resultMap="resultProject">
		select * from star join project on (star.star = project.project_num) where ucode = #{ ucode }
</select>

<select id="selectCheckStar" parameterType="com.beet.HWABO.red.model.vo.Star" resultMap="resultList">
		select * from star join project on (star.star = project.project_num) where ucode = #{ ucode } and star = #{ star }
</select>

<select id="selectProject" resultMap="resultProject">
		select * from project where PROJECT_NUM = #{ projectNumber }
</select>

<insert id="insertProject" parameterType="com.beet.HWABO.red.model.vo.UserProject">
		insert into project VALUES (#{project_num},#{name},#{explain},default,default,default,default,default,default,#{right},(select max(TO_NUMBER(order_by))+1 from project))
</insert>

<insert id="insertProject2" parameterType="com.beet.HWABO.red.model.vo.UserProject">
		insert into pjmember VALUES (#{project_num},#{ucode})
</insert>

<insert id="insertProjectStar" parameterType="com.beet.HWABO.red.model.vo.Star">
		insert into star values (#{ ucode },#{ star })
</insert>

<delete id="deleteProject" parameterType="string">
		delete from project where PROJECT_NUM = #{ projectNumber }
</delete>

<delete id="delStar" parameterType="com.beet.HWABO.red.model.vo.UserProject">
		delete from star where star = #{ star } and ucode = #{ ucode } 
</delete>
	
</mapper>