<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="redMapper">

	<resultMap id="resultList" type="Project">
		<result property="project_num" column="project_num" />
		<result property="name" column="name" />
		<result property="explain" column="explain" />
		<result property="startday" column="startday" />
		<result property="endday" column="endday" />		
		<result property="uploaddate" column="uploaddate" />
		<result property="open" column="open" />
		<result property="goal" column="goal" />
		<result property="done" column="done" />
		<result property="right" column="right" />
	</resultMap>
	<resultMap id="resultProject" type="Project">
		<id property="project_num" column="project_num" />
		<result property="name" column="name" />
		<result property="explain" column="explain" />
		<result property="startday" column="startday" />
		<result property="endday" column="endday" />		
		<result property="uploaddate" column="uploaddate" />
		<result property="open" column="open" />
		<result property="goal" column="goal" />
		<result property="done" column="done" />
		<result property="right" column="right" />
	</resultMap>
	<resultMap id="resultStarList" type="com.beet.HWABO.red.model.vo.UserProject">
		<result property="ucode" column="ucode" />
		<result property="star" column="star" />
		<result property="project_num" column="project_num" />
		<result property="name" column="name" />
		<result property="explain" column="explain" />
		<result property="startday" column="startday" />
		<result property="endday" column="endday" />		
		<result property="uploaddate" column="uploaddate" />
		<result property="open" column="open" />
		<result property="goal" column="goal" />
		<result property="done" column="done" />
		<result property="right" column="right" />
	</resultMap>

<select id="selectList" resultMap="resultList">
		select * from project ORDER BY TO_NUMBER(project_num)
</select>

<select id="selectStar" parameterType="string" resultMap="resultStarList">
		select * from star join project on (star.star = project.project_num) where ucode = #{ ucode }
</select>

<select id="selectCheckStar" parameterType="com.beet.HWABO.red.model.vo.Star" resultMap="resultList">
		select * from star join project on (star.star = project.project_num) where ucode = #{ ucode } and star = #{ star }
</select>

<select id="selectProject" resultMap="resultProject">
		select * from project where PROJECT_NUM = #{ projectNumber }
</select>

<insert id="insertProject" parameterType="Project">
		insert into project VALUES ((select max(TO_NUMBER(project_num))+1 from project),#{name},#{explain},default,default,default,default,default,default,#{right})
</insert>

<insert id="insertProjectStar" parameterType="com.beet.HWABO.red.model.vo.Star">
		insert into star values (#{ ucode },#{ star })
</insert>

<delete id="deleteProject" parameterType="string">
		delete from project where PROJECT_NUM = #{ projectNumber }
</delete>

<delete id="delStar" parameterType="com.beet.HWABO.red.model.vo.UserProject">
		delete from star where star = #{ star } and ucode = #{ ucode } 
</delete>
	
</mapper>