<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bpostMapper">

<!-- 	<resultMap type="Bpost" id="resultBpost">
		<id column="bno" property="bno" />
		<result column="btitle" property="btitle" />
		<result column="bwriter" property="bwriter" />
		<result column="bstartday" property="bstartday" />
		<result column="bendday" property="bendday" />
		<result column="bkind" property="bkind" />
		<result column="bcharge" property="bcharge" />
		<result column="bcontent" property="bcontent" />
		<result column="benrolldate" property="benrolldate" />
		<result column="bopen" property="bopen" />
		<result column="blove" property="blove" />
		<result column="brwriter" property="brwriter" />
		<result column="brcontent" property="brcontent" />
		<result column="brenamefile" property="brenamefile" />
		<result column="boriginfile" property="boriginfile" />
	
	</resultMap> -->

<insert id="insertBpost" parameterType="Bpost" >

	<!-- <if test="boriginfile != null"> --> 
	insert into bpost
	(bno, btitle, bwriter, bstartday, bendday, bkind, bcharge, bcontent, benrolldate, bopen, blove, brenamefile, boriginfile)
	values ((select concat('b', (select nvl(max(to_number(substr(bno, 2))),0)+1 from bpost))from dual), 
	#{btitle}, #{bwriter}, #{bstartday}, #{bendday}, #{bkind}, #{bcharge}, #{bcontent}, sysdate, #{bopen}, default, #{brenamefile}, #{boriginfile})
	
	
	
	<!-- </if>
	<if test="boriginfile == null">
	insert into bpost
	(bno, btitle, bwriter, bstartday, bendday, bkind, bcharge, bcontent, benrolldate, bopen, blove)
	values ((select concat('b', (select nvl(max(to_number(substr(bno, 2))),0)+1 from bpost))from dual), 
	 #{btitle}, #{bwriter}, #{bstartday}, #{bendday}, #{bkind}, #{bcharge}, #{bcontent}, sysdate, #{bopen}, default)

	</if>  -->
</insert>









</mapper>