<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="postMapper">

	<resultMap type="Post" id="resultPost">
		<!-- spost -->
		<result column="sno" property="sno" />
		<result column="stitle" property="stitle" />
		<result column="swriter" property="swriter" />
		<result column="sstartday" property="sstartday" />
		<result column="sendday" property="sendday" />
		<result column="splace" property="splace" />
		<result column="salarm" property="salarm" />
		<result column="scontent" property="scontent" />
		<result column="senrolldate" property="senrolldate" />
		<result column="sopen" property="sopen" />
		<result column="slove" property="slove" />
		<result column="srwriter" property="srwriter" />
		<result column="srcontent" property="srcontent" />

		
		<!-- bpost -->
		<result column="bno" property="bno" />
		<result column="btitle" property="btitle" />
		<result column="bwriter" property="bwriter" />
		<result column="bstartday" property="bstartday" />
		<result column="bendday" property="bendday" />
		<result column="bkind" property="bkind" />
		<result column="bcharge" property="bcharge" />
		<result column="bcontent" property="bcontent" />
		<result column="benrolldate" property="benrolldate" />
		<result column="bopen" property="bopen" />
		<result column="blove" property="blove" />
		<result column="brwriter" property="brwriter" />
		<result column="brcontent" property="brcontent" />
		<result column="brenamefile" property="brenamefile" />
		<result column="boriginfile" property="boriginfile" />
		
		<!-- cpost -->

		
		<!-- vpost -->
		
		
		<!-- dopost -->
	

	
	</resultMap>

<select id="selectAllPost" resultMap="resultPost">

</select>


<select id="selectPost" resultMap="resultPost">

</select>









</mapper>