<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="postMapper">

	<resultMap type="Post" id="resultPost">
		<!-- spost -->
		<result column="sno" property="sno" />
		<result column="stitle" property="stitle" />
		<result column="bucode" property="bucode" />
		<result column="swriter" property="swriter" />
		<result column="sstartday" property="sstartday" />
		<result column="sendday" property="sendday" />
		<result column="splace" property="splace" />
		<result column="scontent" property="scontent" />
		<result column="senrolldate" property="senrolldate" />
		<result column="sopen" property="sopen" />
		<result column="spnum" property="spnum" />

		<!-- bpost -->
		<result column="bno" property="bno" />
		<result column="btitle" property="btitle" />
		<result column="bucode" property="bucode" />
		<result column="bwriter" property="bwriter" />
		<result column="bstartday" property="bstartday" />
		<result column="bendday" property="bendday" />
		<result column="bkind" property="bkind" />
		<result column="bcharge" property="bcharge" />
		<result column="bcontent" property="bcontent" />
		<result column="benrolldate" property="benrolldate" />
		<result column="bopen" property="bopen" />
		<result column="brenamefile" property="brenamefile" />
		<result column="boriginfile" property="boriginfile" />
		<result column="bpnum" property="bpnum" />
		<result column="bchargename" property="bchargename" />
		<!-- cpost -->

		
		<!-- vpost -->
		
		
		<!-- dopost -->
</resultMap>
	
	
	
<select id="selectBpost" parameterType="PjMember" resultType="Bpost">

	select * from bpost
	where bucode=#{ucode}
			and
			bpnum=#{pnum}
    order by benrolldate desc

</select>

	
	
<select id="selectPost" parameterType="PjMember" resultType="Post">
	select * from realpost 
	where ( ucode=#{ucode} 
		      or 
			  bcharge like '%#{ucode}%' )
			and
			( pnum = #{pnum} )
</select>











</mapper>