<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC
"-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.beet.HWABO.test.model.vo.CryptoUser" alias="CryptoUser" />
		<typeAlias type="com.beet.HWABO.member.model.vo.Member" alias="Member" />
		<typeAlias type="com.beet.HWABO.spost.model.vo.Spost" alias="Spost" />
		<typeAlias type="com.beet.HWABO.spost.model.vo.Post" alias="Post" />
		<typeAlias type="com.beet.HWABO.spost.model.vo.Dopost" alias="Dopost"/>
	</typeAliases>

	<mappers>
		<mapper resource="mappers/test-mapper.xml" />
		<mapper resource="mappers/member-mapper.xml" />
		<mapper resource="mappers/spost-mapper.xml" />
		<mapper resource="mappers/post-mapper.xml" />
		<mapper resource="maapers/dopost-mapper.xml" />
	</mappers>
</configuration>
