<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cabinetMapper">


<insert id="insertCabinet" parameterType="Cabinet">

	insert into cabinet
	values (#{ucode}, #{no}, sysdate, #{pnum})

</insert>


<delete id="deleteCabinet" parameterType="Cabinet">
	
	delete from cabinet
	where no = #{no} and ucode= #{ucode} and pnum = #{pnum}

</delete>



</mapper>