<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="fileboxMapper">

<!-- <reaultMap type="Filebox" id="resultFilebox">
	
		
		<result column="no" property="no" />
		<result column="title" property="title" />
		<result column="writer" property="writer" />
		<result column="enroll" property="enroll" />
		<result column="o" property="o" />
		<result column="r" property="r" />
	
	</reaultMap>
 -->



<select id="selectList" parameterType="string" resultType="Filebox">

(select bno as no, btitle as title, bwriter as writer, benrolldate as enroll, boriginfile as o, brenamefile as r, bpnum as pnum
from bpost
where not boriginfile is null and bpnum = #{pnum} and substr(boriginfile, instr(boriginfile,'.',-1)+1) = 'jpg')
union all
(select  cno as no, ctitle as title, cwriter as writer, cenrolldate as enroll, o ,r, cpnum as pnum 
from cfile4
where not o is null and cpnum = #{pnum} and substr(o, instr(o,'.',-1)+1) = 'jpg')
order by enroll desc


</select> 


<select id="selectTxtList" parameterType="string" resultType="Filebox">

(select bno as no, btitle as title, bwriter as writer, benrolldate as enroll, boriginfile as o, brenamefile as r, bpnum as pnum
from bpost
where not boriginfile is null and bpnum = #{pnum} and substr(boriginfile, instr(boriginfile,'.',-1)+1) = 'txt')
union all
(select  cno as no, ctitle as title, cwriter as writer, cenrolldate as enroll, o ,r, cpnum as pnum 
from cfile4
where not o is null and cpnum = #{pnum} and substr(o, instr(o,'.',-1)+1) = 'txt')
order by enroll desc
</select>


</mapper>