<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dopostMapper">
	
	<resultMap type="Dopost" id="resultDopost" >
	<id column="dno" property="dno" />
	<result column="dtitle" property="dtitle"/>
	<result column="ducode" property="ducode"/>
	<result column="dwriter" property="dwriter"/>
	<result column="dcontent" property="dcontent"/>
	<result column="denrolldate" property="denrolldate"/>
	<result column="dopen" property="dopen"/>
	</resultMap>
	
	<insert id="insertdopost" parameterType="Dopost">
	insert into dopost 
	values((select concat('d', (select nvl(max(to_number(substr(dno,2))),0)+1 from dopost))from dual), #{dtitle}, #{ducode}, #{dwriter}, #{dcontent}, SYSDATE, #{dopen})
	
	</insert>
	
	
	
	<update id="updateOrigindopost" parameterType="Dopost">
	update dopost
	set dtitle = #{dtitle}, dtitle = #{dtitle}
	where dwriter = #{dwriter}
	</update>
	
	<delete id="deletedopost" parameterType="Dopost">
	delete dopost where dno = #{dno}
	</delete>
	
	<select id="selectone" parameterType="String" resultMap="resultDopost">
	select * from dopost
	where dno = #{dno}
	</select>
</mapper>