<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vpostMapper">

	<resultMap type="VPost" id="resultVPost">
		<id column="vno" property="vno" />
		<result column="vtitle" property="vtitle" />
		<result column="vucode" property="vucode" />
		<result column="vwriter" property="vwriter" />
		<result column="valarm" property="valarm" />
		<result column="vcontent" property="vcontent" /> 
		<result column="venrolldate" property="venrolldate" />
		<result column="votecheck" property="votecheck" />
		<result column="votenumber" property="votenumber" />
	 
		
	</resultMap>

<insert id="insertvpost" parameterType="VPost" >
	insert into vpost
	values ((select concat('v', (select nvl(max(to_number(substr(vno,2))),0)+1 from vpost))from dual), #{vtitle},#{vucode}, #{vwriter},'n',#{vcontent}
	, sysdate, 'n', default )
	
</insert>


<update id="updatevpost" >
	update vpost set vtitle = #{vtitle} , vcontent = #{vcontent}
	where vno=#{vno}
</update>

<select id="selectList"  resultMap="resultVPost">
	select* from vpost
	order by venrolldate desc
</select>

<select id="selectone" parameterType="String" resultMap="resultVPost">
	select* from vpost where vno = #{ vno }
</select>
</mapper>